* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #d4a491;
    --accent: #f0b99a;
    --bg: #ffffff;
    --text: #000000;
}

body.dark {
    --bg: #111;
    --text: #eee;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--bg);
    color: var(--text);
    transition: 0.4s;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: var(--text);
    letter-spacing: 1px;
    text-transform: uppercase;
}


.curved-nav {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 2000;
}

.curved-nav nav {
    background: white;
    padding: 12px 35px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    gap: 30px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

.curved-nav ul {
    display: flex;
    gap: 35px;
    list-style: none;
}

.curved-nav a {
    text-decoration: none;
    font-weight: 600;
    color: #555;
    padding: 9px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.curved-nav li.active a {
    background: var(--primary);
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
    transform: translateY(-10px);
    transition: 0.3s;
}


#theme-btn {
    background: var(--primary);
    color: white;
    font-size: 1.2rem;
    padding: .4rem .8rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


.section {
    padding: 6rem 2rem;
    text-align: center;
}

.section-title {
    font-size: 2rem;
    color: var(--primary);
    margin-bottom: 2rem;
}


.home-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.home .tagline {
    font-size: 1.2rem;
    color: var(--accent);
}


.home-content {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    min-height: 85vh;
    align-items: center;
    gap: 2rem;
}



.home-content { 
  display: flex; 
  flex-direction: column; 
  gap: 2rem; 
  align-items: center; } 
  .home .tagline { 
    font-size: 1.2rem; 
    color: var(--accent); }

.home h1 {
    font-size: 3rem;
    font-weight: 900;
}

.home .about-role {
    color: #a47148; 
}

.home .quote {
    opacity: 0.85;
}

.home .author {
    color: #a47148;
}

.profile { 
  width: 390px; 
  height: 390px; 
  object-fit: cover; 
  border-radius: 50%; 
  box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
  opacity: 0; transform: translateY(20px); 
  transition: 5s; } 
  
  .profile.show { 
    opacity: 1; 
    transform: translateY(0); } 
    
    .profile { 
      width: 100%; 
      max-width: 350px; 
      border-radius: 50%; 
      transition: transform 0.8s ease; 
    } 
    
    .profile:hover { 
      transform: rotateY(180deg); }


body.light .home .text {
    background: #f3eee8;
    color: #000000;
}

@media (max-width: 900px) {
    .home-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .home .text {
        padding: 3rem;
    }

    .hero-photo {
        border-radius: 0;
        padding: 2rem;
    }
}
.profile {
    border-radius: 50%;
}

/* ===== TYPING EFFECT ===== */
.typing-text {
  font-size: 3rem;
  font-weight: 900;
  white-space: nowrap;
  overflow: hidden;
}

/* Cursor */
.typing-text::after {
  content: "|";
  margin-left: 6px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}



.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}


.about-card {
  padding: 1.8rem;
  border-radius: 18px;
  background: #8a6956;
  border: 1px solid var(--border-color);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  text-align: justify;
}


.about-card h3 {
  font-size: 1.6rem;
  font-weight: 800;
}

.about-card h4 {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  font-weight: 700;
}


.about-role {
  font-size: 0.95rem;
  opacity: 0.8;
  margin-bottom: 1rem;
}

.about-text {
  line-height: 1.6;
}

.about-card p {
  margin: 0.4rem 0;
  font-size: 0.95rem;
}


.skills-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}


.skills-card {
  background:  #8a6956;
  padding: 32px;
  border-radius: 22px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.35);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.skills-card:hover {
  transform: translateY(-6px);
  box-shadow:  #8a6956;
}


.skills-card h3 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #cc8265;
  margin-bottom: 22px;
}


.skills-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


.skills-tags span {
  background:  #b8937f;
  padding: 8px 16px;
  border-radius: 14px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}


.soft-skills {
  list-style: none;
  padding: 0;
  margin: 0;
}

.soft-skills li {
  font-size: 15px;
  color: #e4e6ff;
  margin-bottom: 12px;
  font-weight: 500;
}


@media (max-width: 768px) {
  .skills-card h3 {
    font-size: 1.4rem;
  }
}

  

body {
    background: #ffffff !important;
    color: #000000;
    transition: 0.3s;
}


body.dark {
    background: #000000 !important;
    color: #ffffff;
}

/* CENTER SINGLE PROJECT */
.single-project {
  display: flex;
  justify-content: center;
}

/* FEATURED CARD */
.project-card.featured {
  max-width: 900px;
  background: linear-gradient(160deg, #8a6956, #e7c4ae);
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 25px 60px rgba(0,0,0,0.45);
  position: relative;
  transition: transform 0.4s ease;
}

.project-card.featured:hover {
  transform: translateY(-10px);
}


/* IMAGE */
.project-image img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

/* CONTENT */
.project-content {
  padding: 1.6rem;
  color: #fff;
}

/* TITLE */
.project-title {
  font-size: 1.4rem;
  font-weight: 900;
  position: relative;
  margin-bottom: 0.8rem;
}

/* TITLE UNDERLINE */
.project-title::after {
  content: "";
  width: 60%;
  height: 4px;
  background: #e9ac67;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-radius: 10px;
}

/* LABEL */
.project-label {
  display: block;
  font-size: 0.65rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: #c03f03e0;
  margin: 1rem 0 0.5rem;
}

/* DESCRIPTION */
.project-desc {
  background: rgba(255,255,255,0.15);
  padding: 0.9rem 1rem;
  border-radius: 14px;
  line-height: 1.6;
  font-size: 0.9rem;
}

/* INFO ROW */
.project-info {
  margin-top: 0.8rem;
  font-size: 0.85rem;
  opacity: 0.9;
}

.project-info p {
  margin: 0.2rem 0;
}

/* TAGS */
.project-tags {
  margin-top: 1rem;
  text-align: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.project-tags span {
  background: rgba(0,0,0,0.3);
  padding: 6px 12px;
  border-radius: 14px;
  font-size: 0.75rem;
  font-weight: 700;
}

.project-info {
  margin-top: 1rem;
  text-align: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.project-info span {
  background: rgba(0,0,0,0.3);
  padding: 6px 12px;
  border-radius: 14px;
  font-size: 0.75rem;
  font-weight: 700;
}



#contact {
  width: 100%;
  clear: both;
}

.contact-card {
  max-width: 420px;
  margin: 2.5rem auto 0;
  padding: 1.8rem;
  border-radius: 18px;
  background:  #8a6956;
  border: 1px solid var(--border-color);
  box-shadow: 0 20px 50px rgba(32, 30, 30, 0.25);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 0.9rem;
  background: #f1f1f1;
}

.contact-form textarea {
  resize: none;
  
}


.contact-form button {
  margin-top: 0.5rem;
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  background: #c76d49;
  color: #0f172a;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.contact-form button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.contact-socials {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.85rem;
  opacity: 0.9;
}

.contact-socials p {
  margin-bottom: 0.5rem;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(161, 85, 58);
  transition: opacity 0.2s ease;
}

.social-links a:hover {
  opacity: 0.7;
}

.social-links span {
  opacity: 0.4;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-box {
  background: #8a6956;
  color: #fff;
  padding: 2rem;
  border-radius: 20px;
  text-align: center;
  max-width: 320px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}

.popup-box h3 {
  margin-bottom: 0.5rem;
}

.popup-box button {
  margin-top: 1rem;
  padding: 0.6rem 1.4rem;
  border: none;
  border-radius: 12px;
  background: #7fbf9b;
  font-weight: 700;
  cursor: pointer;
}


@media (min-width: 768px) {
    .home-content {
        flex-direction: row;
        justify-content: center;
        text-align: left;
    }

    .project-card {
        flex-direction: row;
    }

    .project-img {
        max-width: 280px;
    }
}
